<div class="main-container center">

  <div class="box" style="margin-top: 5em;">

    <div class="title">
      <h1>neurize</h1>
    </div>

    <div>
      <p><b>We are creating The Neuroverse!</b></p>
      The Neuroverse is a very special place within the wider metaverse.
    </div>

    <div>
      <p><b>We are exploring communication by all means.</b></p>
      This is possible due to the unique nature and the special affordances of virtual reality that will help
      neurodiverse people to find their own voices within the wider metaverse – the ‘Neuroverse’.
    </div>

    <div>
      <p><b>We are creating a forum.</b></p>
      A forum for everyone, from across the ENTIRE neurological spectrum, to voice their ideas, thoughts, concerns –
      everything. Communication will be through whatever means necessary – this is possible because this is the
      Neuroverse!
    </div>

    <div>
      <p><b>We are creating a space for education.</b></p>
      We will create a place where teachers will meet their students – a safe, secure environment where they will
      devise and deliver lessons and activities. The unique nature of virtual reality will enable the Neuroverse to
      be fully explored for its pedagogic potential when creating unique programmes tailor made to suit any individual
      and their own specific needs and requirements, in their own unique way – whatever works best for them.
    </div>

    <!-- <iframe src="https://www.youtube.com/watch?v=tOAWTTjs6go" frameborder="0" allowfullscreen></iframe> -->

  </div>
